.page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 50px;

    /* 중앙 정렬 */
    left: 50%;
    transform: translate(-50%, 0);

    /* 배경 설정 */
    background-color: rgb(255, 239, 250);

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.title-wrap {
    margin-top: 80px;
    font-size: 26px;
    font-weight: 700;
}

.contents-wrap {
    margin-top: 26px;
    flex: 1;
}

.input-title {
    font-size: 12px;
    font-weight: 600;
}

.input-wrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid #ec8bff60;
}

.input-wrap:focus-within {
    border: 2px solid #f3b7ff;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}

.input::placeholder {
    color: #e87ffd60;
}

.errMsg-wrap {
    margin-top: 8px;
    color: red;
    font-size: 12px;
}

.btn {
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: #be7fcb;
    border-radius: 64px;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
}

.btn:disabled {
    background-color: #be7fcba2;

}